/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html {
    line-height: 1.5;
    background-color: #f5f5f5;
}

body {
    width: 850px;
    margin-top: 60px;
    margin-left: 100px;
    /*margin-left: auto;
    margin-right: auto;*/
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

header {
    font-family: Courier;
    font-size: 1.2em;
    font-weight: 500;
    position: fixed;
    margin-bottom: 30px;
    padding: 2px;
    color: black;
    background: #f5f5f5;
}

.hashtag {
    font-family: Courier New;
    font-weight: 100;
    background: #ffed5f;
    /*blue 0DAAFF red FF005E green 85FF00*/
}

#headRow {
    height: 50px;
    margin: 0px 0px 0px 100px;
    border-bottom: 1px solid gray;
    border-top: 6px solid #f5f5f5;
    /*hidden, dotted, dashed, solid, double, groove, ridge, inset, outset*/
    /*border-bottom: 1px solid #FF005E;*/
}

.message {
    font-family: Courier New;
    font-weight: 100;
}

#trademark {
    font-size: .2em;
    font-style: italic;
    display: inline;
    margin: 20px 30px 0 25px;
    padding: 4px 12px 4px 12px;
    border: 1px solid black;
    background: white;
    /*box-shadow: -2px 2px gray;*/
    /*color: #FF005E;*/
}

a {
    font-family: Courier New;
    font-weight: 600;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    color: white;
    background-color: black;
}

a:hover {
    background-color: #ff005e;
}

input {
    font-family: Courier new;
    font-size: 1.5em;
    font-weight: 100;
    position: relative;
    color: #0daaff;
    border-width: 0 0 1px 0;
    border-style: solid;
    background: white;
}

#descInput {
    width: 345px;
}

#pointInput {
    width: 85px;
    border: black;
}

users {
    font-family: Courier New;
    font-weight: 600;
    display: inline-block;
    margin: 2px;
    padding: 2px;
    color: white;
    background-color: black;
}

button {
    font-family: Courier New;
    font-size: 1em;
    margin: 0;
    padding: 9px 5px 5px 5px;
    text-decoration: none;
    color: #fff;
    border: none;
    background: #e1e1e1;
}
/*// profile*/

.profile1 {
    position: fixed;
    /*display: block;*/
    
    margin-left: 700px;
    background-color: white;
    width: 150px;
    margin-top: 0px;
    border: solid 1px grey;
    /*border-bottom: solid 0px white;*/
}

.profile2 {
    position: fixed;
    /*display: block;*/
    
    margin-left: 700px;
    background-color: white;
    width: 150px;
    margin-top: 255px;
    border: solid 1px grey;
}

img {
    position: relative;
    width: 150px;
    margin: 0px;
}

h1 {
    margin: 0px;
    font-family: "Helvetica Neue";
    font-weight: 100;
    font-size: 1em;
    text-align: center;
    color: white;
    background-color: black;
}

h2 {
    font-family: "Helvetica Neue";
    font-style: Italic;
    font-weight: 300;
    font-size: 0.8em;
    text-align: center;
    margin: 0px;
}

h3 {
    font-family: "Helvetica Neue";
    font-style: "Italic";
    font-weight: 300;
    font-size: 0.8em;
    background-color: #85FF00;
    text-align: center;
}

button:hover {
    text-decoration: none;
    background: #85ff00;
}

#refresh {
    background: #d1d1d1;
}

#refresh:hover {
    background: #85ff00;
}

.transaction {
    margin-left: 10px;
}

.livestamp {
    font-family: Garamond;
    font-size: .75em;
    font-style: italic;
    margin-left: 20px;
    text-align: right;
    color: gray;
}

::-webkit-input-placeholder {
    color: #e0e0e0;
}

:-moz-placeholder {
    /* Firefox 18- */
    
    color: #e0e0e0;
}

::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #e0e0e0;
}

:-ms-input-placeholder {
    color: #e0e0e0;
}
